<section class="Section Section-Features-Benefits Section--spacingNormal" id="section-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="features-benefits">
   
    {% assign count = 1 %}

  <div class="gridfab-wrapper" style="padding-bottom: 0px;">
      
      {%- if section.settings.title != blank -%}
      <header class="SectionHeader SectionHeader--center features--heading-large">
        <div class="Container">
            <h3 class="SectionHeader__SubHeading Heading u-h1">{{section.settings.title}}</h3>
        </div>
      </header>
      {%- endif -%}

      <div class="Container gridt-wrapper">
        <div class="Grid Grid_fab">
          
          
        <div class="Grid__Cell 1/{{section.blocks.size}}--tablet-and-up">
             <div class="fab-container">
              {% if product.metafields.details.featuredtitle1 != blank %}
                <h3>{{ product.metafields.details.featuredtitle1 }}</h3>
              {% endif %}
                <div class="fab-desc">{{ product.metafields.details.featureddesc1 }}</div>
             </div>
        </div>
          
           <div class="Grid__Cell 1/{{section.blocks.size}}--tablet-and-up">
             <div class="fab-container">
              {% if product.metafields.details.featuredtitle2 != blank %}
                <h3>{{ product.metafields.details.featuredtitle2 }}</h3>
              {% endif %}
                <div class="fab-desc">{{ product.metafields.details.featureddesc2 }}</div>
             </div>
        </div>
          
           <div class="Grid__Cell 1/{{section.blocks.size}}--tablet-and-up">
             <div class="fab-container">
              {% if product.metafields.details.featuredtitle3 != blank %}
                <h3>{{ product.metafields.details.featuredtitle3 }}</h3>
              {% endif %}
                <div class="fab-desc">{{ product.metafields.details.featureddesc3 }}</div>
             </div>
        </div>
          
           <div class="Grid__Cell 1/{{section.blocks.size}}--tablet-and-up">
             <div class="fab-container">
             {% if product.metafields.details.featuredtitle4 != blank %}
                <h3>{{ product.metafields.details.featuredtitle4 }}</h3>
             {% endif %}
                <div class="fab-desc">{{ product.metafields.details.featureddesc4 }}</div>
             </div>
        </div>
          
          
          
        </div>
    </div>

    <div class="Container Container_Ingr_Icon">
      <div class="Grid Grid--middle Grid_Ingr_Icon">
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="{{ 'icon-gluten-free.png' | asset_url }}" alt="Gluten Free">
            <p>Gluten Free</p>
          </div>
        </div>
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="{{ 'icon-paraben-free.png' | asset_url }}" alt="Paraben FREE">
            <p>Paraben FREE</p>
          </div>
        </div>
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="{{ 'icon-vegan.png' | asset_url }}" alt="Vegan">
            <p>Vegan</p>
          </div>
        </div>
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="{{ 'icon-cruelty-free.png' | asset_url }}" alt="Cruelty FREE">
            <p>Cruelty FREE</p>
          </div>
        </div>
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="{{ 'icon-fragrance-free.png' | asset_url }}" alt="Fragrance FREE">
            <p>Fragrance FREE</p>
          </div>
        </div>
        <div class="Grid__Cell 1/3--phone">
          <div class="Ingr_Icon_Container Text--alignCenter">
            <img src="https://cdn.shopify.com/s/files/1/0064/3003/1908/files/ReefSafe-LineIcon-NoText-cropped.png?v=1677538241" alt="Reef Safe">
            <p>Reef Safe</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  {%- if section.settings.ingredients != blank -%}
  <div class="gridfab-wrapper" style="margin-bottom: 0px;">
    <header class="SectionHeader SectionHeader--center features--heading-large">
      <div class="Container">
          <h3 class="SectionHeader__SubHeading Heading u-h1">Ingredients</h3>
      </div>
    </header>
    <div class="fab-ingredients">
      <div class="Container">{{ product.metafields.details.ingredients }}</div>
    </div>
  </div>
  {%- endif -%}

</section>

<style>
  #section-{{ section.id }} {}

  #section-{{ section.id }} .flickity-page-dots .dot:not(.is-selected) {
    
  }
</style>

{% schema %}
{
  "name": "Mineral Ingregients",
  "class": "shopify-section--grid-prod-features",
  "max_blocks": 4,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Feature's Title"
    },
    {
      "type": "textarea",
      "id": "ingredients",
      "label": "Ingredients",
      "default": "Say something about the ingridients..."
    }
  ],
  "blocks": [
    {
      "type": "product_features",
      "name": "Features & Benefits",
      "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title Text",
          "default": "Feature's Title"
        },
        {
          "type": "textarea",
          "id": "features_desc",
          "label": "Description",
          "default": "Say something about the features..."
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Features & Benefits",
      "settings": {},
      "blocks": [
        {
          "type": "product_features",
          "settings": {}
        },
        {
          "type": "product_features",
          "settings": {}
        },
        {
          "type": "product_features",
          "settings": {}
        }
      ]
    }
  ]
}
{% endschema %}